body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.containerA {
    background-color: #1F2937;
}

.headers {
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

