body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-right: 40px;
    align-items: center;
}

li {
    margin-left: 20px;
}

img {
    width: 400px;
    height: 250px;
}

.firstsect {
    background-color: #1F2937;
}

#headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 40px;
}

.headerlinks {
    font-size: 18px;
    color: #E5E7EB;
}

#awesome {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

#description {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.introimg {
    display: flex;
    margin: 40px;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 8px;
    border-radius: 5px;
    padding: 3px 16px;
}

#title {
    text-align: center;
}

img {
    width: 120px;
    height: 140px;
}